    .p{
      margin-top: -5px;
      color: gray;
      font-family: Georgia;
      font-size: 1rem;
    }
    /* *{
      background-color:RGB(241, 245, 248);
    } */

    ul{
      list-style: none;
      text-align: left;
    
    }
    .menu{
      color: rgb(0, 0, 0);
      font-size: 2rem;
      font-weight: 500;
      float: left;
    }
    .homeback{
      font-size: 1.5rem;
      color: gray;
      padding-left: 1rem;
      text-decoration: none;
    }
    .menulist{
    
      line-height:1;
      padding: 0% 0%;
      display: flex;
      margin: 0 auto;
      padding-bottom: 0%;
      justify-content: center;
     
    }
    .li{
      width: 80px;
      float: left;
      height: 40px;
      font-size: 1.2rem;
      border-radius: 5px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      color: gray;
     
    }
 

    .li:hover{

      cursor: pointer;
      transition: 0.4s ease-in;
      background-color: rgb(139, 115, 79);
      color: white;
    }

    .btns{
      width: 100px;
      height: 38px;
    }
    .cont{
      
        width: 90%;
        height: 220px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 2.5% 0%;
        /* background-image: linear-gradient(rgb(245, 233, 233),white); */
        background-image: linear-gradient(rgba(255, 255, 255, 0),rgba(226, 229, 229, 0.836));
 
    }

    .cont:hover{
      transform: scale(1.05);
      transition: 0.5s ease-in-out;
      box-shadow: 0.001px 0.001px 30px gray;
    
    }
    .price{
      color: rgb(168, 142, 8);
      font-size: 1.3rem;
    }
    .cards{
       
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        padding-bottom: 2.7%;
        background-color:RGB(241, 245, 248);
        padding: 2% 9% 5% 9%;
    
    }
    .nameAndPrice{
        padding-right: 2%;
        display: flex;
        justify-content: space-between;
        margin-bottom: -3%;
    }
    .veg_nonveg{
       display: flex;
       justify-content: space-between;
    }
    .dishImage{
      border: 3px solid rgba(128, 128, 128, 0.199);
      border-style:outset;
      width:185px; height:190px;

    }
    .styleInfo{
      padding:  " 4% 4% 4% 0";
    }
    
    @media screen and (max-width:1090px) {
    
    .cont{
      height: 500px;
      background-color:RGB(241, 245, 248);
    }
    .li{
      text-align: left;
      display: flex;
      justify-content: left;
      align-items: center;
    }
    .li:hover{
      color: rgb(10, 9, 9);
      background-color:rgba(255, 255, 255, 0);
    
    }
    .first{
      margin-left: 17px;
    }  
    .cards{
      width: 100%;
    }
    .dishImage{
      border: 6px ridge rgb(230, 206, 86);
      width:90%; height:100%

    }
    .cont:hover{
      transform: scale(1);
      box-shadow: none;
    }
    .homeback{
     float: right;
    }
    }