/* .nav-link{
  font-size: 130% !important;
  margin-left: 2vw !important;
} */
.navbar{
  background-color: rgb(179, 172, 170);
  color: black;
  padding: 0vw;
}

.logo{
  width: 5vw;
  margin-left: 1vw;
}

.d-block{
  height: 42vw;
  opacity: 0.9;
}

.carousel-content {
  position: absolute;
  padding-top: 12vw;
  bottom: 0vw;
  z-index: 20;
  color: rgb(255, 255, 241);
  width: 40vw;
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
  text-align: center;
  background-color: rgba(190, 185, 185, 0.432);
  height: 42vw;
}
.carousel-content h2{
  font-size: 5vw;
  font-family: 'Kaushan Script', cursive;
}
.carousel-content p{
  font-family: 'Dancing Script', cursive;
  font-size: 3vw;
}

.custom-btn{
  background-color: rgb(68, 70, 73) !important;
  font-size: 1.5vw !important;
  padding: 0.4vw 2vw !important;
  color: white !important;
  border: rgb(54, 54, 54) 2px solid !important;
  box-shadow: 2px 2px 10px grey !important;
}

.custom-btn:hover{
  background-color: rgb(168, 167, 167) !important;
  box-shadow: 5px 5px 10px rgb(77, 77, 77) !important;
  border: rgb(109, 108, 108) 2px solid !important;
}

.carousel-p{
  color: white ; 
  font-family: 'Dancing Script', cursive;
  font-size: 2vw;
}

.p{
  color: black ; 
  font-family: 'Dancing Script', cursive;
  font-size: 2vw;
}

.heading{
  text-align: center;
  height: 15vw;
  padding-top: 7vw; ;
  font-family: 'Kaushan Script', cursive;
  font-size: 5vw;
  color: rgb(41, 46, 41);
}

.content{
  color: white;
  display: inline-block;
  border-radius: 8px;
  width: 50vw;
  margin-bottom: 1vw;
  margin-left: 2vw;
  margin-right: 5vw;
  margin-top: 3vw;
  text-align: center;
  padding: 6vw;
  font-family: 'Dancing Script', cursive;
  font-size: 2vw;
  transition: all 1s;
}





.about-img{
  position: relative;
  bottom: 8vw;
  width: 37vw;
  display: inline-block;
}

.about-img:hover{
  box-shadow: 5px 5px 15px grey;
}

.about-section{
  background-image: linear-gradient(to right,rgb(121, 121, 116),rgb(255, 255, 255));
}