.navbar .navbar-nav{
    font-weight: 400;
    /* padding: 0 4px; */
    padding-top: 2px;
    padding-bottom: 0;
  }
  .navbar .navbar-nav .nav-link:focus {
    /* background-color: #656a6b; */
    /* color:white; */
    border-radius: 0px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
  border-bottom: 2px;
  border-color: black;
  border-style: solid;
  }
  .navbar .navbar-nav .nav-link:hover {
   cursor: pointer;
  }