body {
    margin: 0;
    font-family: Open Sans, Helvetica, sans-serif;
  }
  
  .feedback-container {
    background-color: #f4f4f4;
    height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .feedback-container .feedback-card {
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: #fff;
    border-radius: 0.25rem;
    width: 45%;
    margin: auto;
    text-align: center;
    padding: 48px;
    padding-bottom: 18px;
  }
  
  .feedback-header {
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #dbe2e8;
    text-align: center;
    border-radius: 6px 6px 0 0;
  }
  
  .feedback-header-title-intro {
    font-size: 13px;
    color: #6d7780;
    margin-top: 0;
    margin-bottom: 8px;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 1.85;
    font-weight: 600;
  }
  
  .feedback-header-next-title {
    font-size: 18px;
    margin: 0;
    color: #2e3d49;
    line-height: 1.78;
    font-weight: 600;
  }
  
  .feedback-body {
    padding: 30px 40px;
  }
  
  .feedback-body-header {
    text-align: center;
    font-weight: 100;
    line-height: 1.5;
    margin: 0;
    font-size: 18px;
    color: #2e3d49;
  }
  
  .reactions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    min-height: 150px;
  }
  
  .feedback-hr {
    border: 0;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.3);
    border-top: 1px solid rgba(0, 7, 9, 0.1);
    height: 0;
    box-sizing: content-box;
    overflow: visible;
  }
  
  .feedback-textarea-container {
    width: 100%;
  }
  
  .feedback-textarea {
    border-radius: 0.25rem;
    background-color: #f7fafc;
    border: 1px solid #edf2f7;
    padding: 0.625rem 0 0 2%;
    transition: all 0.3s ease;
    width: 97.5%;
    height: auto;
    font-size: 15px;
  }
  
  .feedback-textarea:focus {
    outline: none;
    background-color: #fff;
    border-color: #cbd5e0;
    border-radius: 0.25rem;
  }
  
  .send-button {
    margin: 25px auto -5px;
    display: block;
    letter-spacing: 0.025em;
    font-weight: 600;
    --tw-bg-opacity: 1;
    background-color: #0075c1;
    --tw-text-opacity: 1;
    color: rgba(247, 250, 252, var(--tw-text-opacity));
    width: 90px;
    height: 43px;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-radius: 0.25rem;
    transition-property: all;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    border: 1px solid #fff;
  }
  
  .send-button .text {
    font-size: 14px;
    letter-spacing: 0;
    position: relative;
    bottom: 1.5px;
  }
  
  .send-button:hover {
    background-color: #343434;
    border-color: #fff;
    cursor: pointer;
  }
  
  [type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  [type="radio"] + img {
    cursor: pointer;
    width: 70px;
    opacity: 0.5;
  }
  
  [type="radio"]:checked + img {
    /* outline: 2px solid #f00; */
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
    border-radius: 50%; */
    width: 100px;
    transition: all 0.5s ease;
    opacity: 1;
  }
  
  @media only screen and (max-width: 1050px) {
    .feedback-container .feedback-card {
      width: 90%;
    }
    [type="radio"]:checked + img {
      /* outline: 2px solid #f00; */
      /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
      border-radius: 50%; */
      width: 100px;
      transition: all 0.5s ease;
      opacity: 1;
    }
  }
  
  @media only screen and (max-width: 700px) {
    .reactions img {
      width: 50px;
    }
    .feedback-body {
      padding: 30px 0;
    }
    .feedback-textarea {
      padding: 0.625rem 0 0 5%;
      width: 95.5%;
    }
    [type="radio"]:checked + img {
      /* outline: 2px solid #f00; */
      /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
      border-radius: 50%; */
      width: 65px;
      transition: all 0.5s ease;
      opacity: 1;
    }
  }
  